
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="post">
                <div class="input-group">
                    <label for="Nom">Nom : </label>
                    <div>
                        <input type="text" placeholder="Nom" name="Nom" />
                    </div>
                </div>
                <div class="input-group">
                    <label for="Nom">Prenom : </label>
                    <div>
                        <input type="text" placeholder="Prénom" name="Prenom" />
                    </div>
                </div>
                <div class="input-group">
                    <label for="Nom">Email : </label>
                    <div>
                        <input type="email" placeholder="Email" name="Email" />
                    </div>
                </div>
                <div class="input-group">
                    <label for="Nom">Tel : </label>
                    <div>
                        <input type="text" placeholder="Téléphone" name="Tel" />
                    </div>
                </div>
                <div>
                    <input type="submit" value="Envoyer" />
                </div>
            </form>
        </div>  
    </div>
</div>
