
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                @if(ViewContext.ModelState.ErrorCount > 0)
                {
                    <div>
                        <p>Il y a @ViewContext.ModelState.ErrorCount erreur(s) dans mon formulaire</p>
                    </div>
                }

                <div class="form-group">
                    <label for="Nom">Nom : </label>
                    <div>
                        <input class="form-control" type="text" placeholder="Nom" name="Nom" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Nom">Prenom : </label>
                    <div>
                        <input class="form-control" type="text" placeholder="Prénom" name="Prenom" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Nom">Email : </label>
                    <div>
                        <input class="form-control" type="email" placeholder="Email" name="Email" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Nom">Tel : </label>
                    <div>
                        <input class="form-control" type="text" placeholder="Téléphone" name="Tel" />
                    </div>
                </div>
                <hr />
                <div>
                    <input type="submit" value="Envoyer" class="btn btn-primary" />
                </div>
            </form>
        </div>  
    </div>
</div>
